# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
*.code-workspace

# Virtual Environment
venv/
env/
ENV/

# Model files
*.pth
*.pt
*.h5

# Logs
*.log
logs/
tensorboard/

# Dataset files
data/
datasets/

.DS_Store
myenv/
archive/
kaggle.json
